<h1><%= @list.name %></h1>

<hr>

<% @list.bookmarks.each do |bookmark| %>
  <% url = bookmark.movie.poster_url %>
  <div class="card-product">
    <img src=<%="#{url}"%>>
    <div class="card-product-infos">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.movie.overview %></p>
      <p>Rating: <%= bookmark.movie.rating %></p>
      <p><%= link_to "Delete", list_path(@list), data: {turbo_method: :delete}%></p>
    </div>
  </div>
<% end %>

<%= link_to "Add new bookmark", new_list_bookmark_path(@list) , class: "btn btn-ghost" %>
<%= link_to "Back", lists_path , class: "btn btn-ghost" %>
