<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="nav">
      <div class="nav_wrapper">
        <nav class="nav-main" role="navigation">
          <div class="nav-main_wrapper">
            <ul class="nav-main_wrapper_list">
              <li><%= link_to "All lists", lists_path, class: "nav-main-item" %></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="wrap">
      <%= yield %>
    </div>
  </body>
</html>
